body {
  color: #fff;
  background: #333;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: center;
}

#list {

  padding: 0;
  margin: 0 auto;
  /* text-align: center; */
  max-width: 90vw;
}
#list li {
  margin: 1.0rem 0;
  padding: 1.0rem 0.5rem;
  /* max-width: 70vw; */
  background: #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 #333;
  text-align: left;
  overflow: hidden;
  display: flex;
}
#list li:nth-child(even){
  background: #eee;
}
#list li:nth-child(odd){
  background: #aaa;
}
#list span {
  color: #333;
  /* background: #eee; */
  padding: 0 .5rem;
  margin-right: 0.5rem;
}
#list span.mag {
  color: #f40000;
  background: #000;
  padding: .5rem;
  border-radius: 50%;
  margin-right: 2rem;
}
#list span.time {
  color: lightblue;
/* display: none; */
  margin-left: auto;
}